<h2>Sign Up Form</h2>
<!--<form (ngSubmit)="register(f)" #f="ngForm">
    <label>Email:</label><br>
    <input type="email" id="email"  [(ngModel)]='user.email' name="email"><br>
    <label for="lname">Password:</label><br>
    <input type="text" id="password"  [(ngModel)]='user.password' name="password">
    <button type="submit" (click)>Submit</button>
  </form>  -->

  <div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type="text" #emailSignup/>
  <input type="text" #passwordSignup/>
  <button >Sign up</button>
</div>
<hr>
<div *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input type="text" #email/>
  <input type="text" #password/>
  <button >Sign in</button>
</div>


